@charset "UTF-8";

table {
	width: 800px;
	height: 500px;
	margin: 0 auto;
	border-collapse: collapse;
	
}

th {
	background-color: teal;
	height: 35px;
	color: white;
}

td {
	text-align: center;
	border-bottom: 1px solid silver;
}

#td1 {
	width: 9%;
}

#td2 {
	width: 15%;	
}

.title {
	text-align: left;
}

tr:hover {
	background-color: silver;
	color: tomato;
}


